.form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    padding: 20px;
    padding-top: 0;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    border: 1px solid #ccc;
    padding: 10px;
}

